
@import './colorNormal/_colorNormal.scss';
@import './colorGradient/_colorGradient.scss';




/* Following Dark Theme of Material Design 

https://material.io/design/color/dark-theme.html#properties

https://material.io/archive/guidelines/style/color.html#color-color-palette


Color Generator: 
https://material.io/design/color/the-color-system.html#tools-for-picking-colors
https://www.materialpalette.com/

https://www.canva.com/colors/color-wheel/






**Definiation**

Accent color is also known as Secondary color.

It is used for:

Buttons
Floating action buttons
Selection controls, like sliders and switches
Highlighting selected text
Progress bars
Links and headlines







Red: passion, power, love, danger, excitement
Blue: calm, trust, competence, peace, logic, reliability
Green: health, nature, abundance, prosperity
Yellow: happiness, optimism, creativity, friendliness
Orange: fun, freedom, warmth, comfort, playfulness
Purple: luxury, mystery, sophistication, loyalty, creativity
Pink: nurturing, gentleness, sincerity, warmth
Brown: nature, security, protection, support
Black: elegance, power, control, sophistication, depression
White: purity, peace, clarity, cleanliness


/* 
 
 More things to think about:
 Navigation drawer
 
 border/divider

*/
