$light-green:#d6f3f5;
$dark-green:#022F30;


$light-blue:#9FA8DA; //indigo-200
$dark-blue:#283593; //indigo-800

$blue-dark-2:#000000;

$light-red: #F48FB1;  //pink-200
$dark-red:#3D0F21;
$red-dark-2:#420d09;