/* Support for the older versions (Removed in version 1.6) */

.m-h-6{
    min-height:1.5rem
}

.m-h-7{
    min-height:1.75rem
}

.m-h-8{
    min-height:2rem;
}

// .m-h-1/4{
//     min-height: 25%;
// }

// .m-h-2/4{
//     min-height: 50%;
// }

// .m-h-3/4{
//     min-height: 75%;
// }