@layer base {


    :root {


         // bg-s-t1a1  or, text-s-t1a1
         --surface-type-1-alpha-1:hsl(270,10%,97%);

         //bg-s-t1a2 or, text-s-t1a2  
         --surface-type-1-alpha-2:hsl(270,10%,95%);
 
         //bg-s-t1a3  or, text-s-t1a3
         --surface-type-1-alpha-3:hsl(270,10%,93%);

         //bg-s-t1a4  or, text-s-t1a4
         --surface-type-1-alpha-4:hsl(270,10%,91%);

         //bg-s-t1a5  or, text-s-t1a5
         --surface-type-1-alpha-5:hsl(270,
         %,89%);

    }

    .dark {

   

   
  
         // bg-s-t1a1  or, text-s-t1a1
         --surface-type-1-alpha-1:hsl(270,10%,8%);

         //bg-s-t1a2 or, text-s-t1a2  
         --surface-type-1-alpha-2:hsl(270,10%,11%);
 
         //bg-s-t1a3  or, text-s-t1a3
         --surface-type-1-alpha-3:hsl(270,10%,14%);

         //bg-s-t1a4  or, text-s-t1a4
         --surface-type-1-alpha-4:hsl(270,10%,17%);

         //bg-s-t1a5  or, text-s-t1a5
         --surface-type-1-alpha-5:hsl(270,10%,10%);


    }

}



/* 

Dark Green  180,10%,10% 

Dark Deep Green  270,10%,8%

*/